@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center mt-4">Bem-vindo ao FornecePro</h1>
<p class="text-center">A plataforma de gestão ideal para sua empresa.</p>
<div class="card-container">
    <div class="card">
        <img src="/img/FORNECEPRO empresa serviços prestados.png" alt="Logotipo FornecePro, tecnologia e cérebro digital">
    </div>
    <div class="card">
        <img src="/img/Logotipo de Evento Festival de Cerveja Artesanal Simples e Redondo Azul Amarelo (1).png" alt="Logotipo de evento de festival de cerveja artesanal">
    </div>
    <div class="card">
        <img src="/img/Infinity.png" alt="Imagem com símbolo do infinito">
    </div>
    <div class="card card-text-card">
        <h2 class="card-text">"Valorizamos a transparência, a qualidade e o compromisso com os nossos clientes."</h2>
    </div>
    <div class="card card-text-card">
        <h2 class="card-text">"Estamos aqui para oferecer soluções personalizadas e inovadoras para o seu negócio."</h2>
    </div>
    <div class="card card-text-card">
        <h2 class="card-text">"Entre em contato conosco e vamos conversar sobre como podemos ajudar você."</h2>
    </div>
</div>

<section class="testimonials-section">
    <h2 class="text-center">O que nossos clientes dizem</h2>
    <div class="testimonials-container">
        <div class="testimonial-card">
            <p class="testimonial-text"><p>"A solução é extremamente funcional e intuitiva, permitindo uma gestão mais estratégica dos nossos fornecedores. Desde a implementação, notamos uma melhora considerável!"</p>
            <p class="testimonial-author">- Camila Santos, Gerente de Operações</p>
        </div>
        <div class="testimonial-card">
            <p class="testimonial-text"><p>"Com esta plataforma, conseguimos organizar e centralizar todas as informações dos nossos fornecedores de forma prática e segura."</p>
            <p class="testimonial-author">- Pedro Andrade, Supervisor de Suprimentos</p>
        </div>
        <div class="testimonial-card">
            <p class="testimonial-text">"A plataforma tem sido essencial para otimizar nossa gestão de fornecedores. Fácil de usar, com recursos que tornam a comunicação e o controle muito mais eficientes. </p>
            <p class="testimonial-author">- Paulo ferro, Gerente de Compras</p>
        </div>
    </div>
</section>
<section class="cta-section">
    <h2>Pronto para começar?</h2>
    <p>Cadastre seus fornecedores e comece a melhorar a gestão da sua empresa.</p>
    <button onclick="window.location.href='cadastros.html'">Cadastre-se Agora</button>
</section>

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Aguardamos voce 😉 <a href="https://learn.microsoft.com/aspnet/core">venha conhecer nossas redes </a>.</p>
</div>
